
#contact {

    #feuille {
        margin-top: 45px;
        width: 100px;
    }

    #title {
        margin-top: 30px;
        font-size: 30px;
        p {
            margin: 6px 0;
        }
        .light {
            font-weight: $FONT_SIZE_LIGHT;
        }
    }

    form {
        margin-top: 20px;
        display: inline-block;
        max-width: 700px;
        width: 80%;
    }

    ::placeholder {
        color: $COLOR_BLUE;
        font-family: inherit;
        font-size: 18px;
        opacity: 1;
    }

    input, textarea {
        width: 100%;
        margin: 10px 0;
        margin-left: -10px;
        padding: 10px;
        font-family: inherit;
    }

    .submit {
        width: 100px;
        background-color: $COLOR_BLUE;
        color: white;
        border: 0;
    }

    #bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400px;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-image: url(./img/bas-contact.svg);
    }

}
