
#discover {

    h1 {
        font-weight: inherit;
    }

    font-weight: $FONT_SIZE_LIGHT;

    .regular {
        font-weight: 400;
    }

    .bold {
        font-weight: 700;
        font-size: 42px;
    }

    #top {
        display: inline-block;
        font-size: 33px;
        top: 148px;
        margin-top: 13vh;
        width: 630px;
        text-align: right;
        border-bottom: solid;
        border-width: 1px;
        padding-bottom: 4px;
    }

    #sections {
        margin-top: 100px;
        .section {
            display: inline-block;
            vertical-align: top;
            width: 22%;
            margin: 0 10px;
            a {
                .border {
                    $padding_tb: 20px;
                    $padding_lr: 5px;
                    padding: ($padding_tb+2) ($padding_lr+2);
                    &:hover {
                        padding: $padding_tb $padding_lr;
                        border: dotted 2px;
                    }
                }
            }
            .title {
                font-size: 25px;
                font-weight: $FONT_SIZE_BOLD;
            }
            img {
                height: 100px;
            }
            p {
                font-size: 20px;
            }
        }
    }

    #left, #right, #bottom {
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    #left, #right {
        background-position-y: bottom;
    }

    #left {
        left: 0;
        top: -260px;
        width: 28vw;
        max-width: 415px;
        background-image: url(./img/arbre-gauche.svg);
        background-position-x: right;
    }

    #right {
        top: 0;
        right: 0;
        width: 30vw;
        max-width: 440px;
        background-image: url(./img/arbre-droit.svg);
        background-position-x: left;
    }

    #bottom {
        left: 0;
        right: 0;
        height: 120px;
        background-image: url(./img/bas.svg);
        background-position-x: center;
        //background-repeat-x: repeat;
        //background-repeat-y: no-repeat;
    }

}
