---
layout: default
---

<div id="discover">

  <h1 id="top">
    <span class="bold">Blue Forest</span> est un service de
    <span class="regular">création graphique</span>
    spécialisé dans l'aménagement de forêts personnalisées.
  </h1>

  <div id="sections">
    <div class="section">
      <a href="/discover/forests">
        <div class="border">
          <img src="/assets/img/visiter-forets.svg" alt="Visiter les forêts">
          <div class="title">Visiter les forêts</div>
        </div>
      </a>
      <p>Blue Forest accompagne et met en valeur des projets 
        en étroite collaboration avec leurs créateurs
      </p>
    </div>
    <div class="section">
      <a href="/discover/kit">
        <div class="border">
          <img src="/assets/img/carte.svg" alt="Kit de foresterie">
          <div class="title">Kit de foresterie</div>
        </div>
      </a>
      <p>
        De l'idée à la réalisation : un processus simplifié.
        Découvrez les étapes pour créer votre forêt.
      </p>
    </div>
    <div class="section">
      <a href="/contact">
        <div class="border">
          <img src="/assets/img/contact.svg" alt="Parlons-en !">
          <div class="title">Parlons-en !</div>
        </div>
      </a>
      <p>
        Envie de démarrer l'aventure ?
        Discutons de vos besoins autour d’un café !
      </p>
    </div>
  </div>

  <div id="left"></div>
  <div id="right"></div>
  <div id="bottom"></div>
</div>
